#header{
    height: 49px;
}

#content .search{
    clear: both;
    margin: 50px auto;
    width: 60%;
}

#content{
    margin: 50px auto;
}

#content .item_1{
    float: left;
    margin: 0 50px 0 100px;
}
#content .item_2{
    float: left;
}

#footer{
    clear: both;
    padding: 20px 0;
}

#footer ul>li{
    font-size: 14px;
    color: white;
    margin: 50px 0px;
    display: inline-block;
    list-style: none;
}
#footer ul>li a{
    font-size: 14px;
    color: white;
    padding: 4px 10px;
}

