<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/order.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--header-->
<div th:replace="/header.html::header"></div>
<div id="content" class="container">
    <!--search-->
    <div th:replace="/searchitem.html::search"></div>
    <div class="order">
        <table class="table table-hover">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>订单编码</th>
                <th>商品编码</th>
                <th>商品名称</th>
                <th>订单数量</th>
                <th>订单价格</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr><tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>00000001</td>
                <td>1</td>
                <td>笔记本电脑</td>
                <td>
                    <div class="input-group" style="width: 180px">
                        <input type="number" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">修改</button>
                        </span>
                    </div>
                </td>
                <td>17,999.97</td>
                <td>
                    <button class="btn btn-primary">支付</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>

            </tbody>
        </table>
        <button class="btn btn-primary">合并支付</button>
    </div>
</div>
<!--footer-->
<div th:replace="/footer.html::footer"></div>
</body>
</html>