<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--header-->
<div th:replace="/header.html::header"></div>
<div id="content" class="container">
    <!--search-->
    <div th:replace="/searchitem.html::search"></div>
    <div class="commodity">
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
        <div class="item">
            <img src="/static/items/book1.jpg" alt="">
            <h2><span>￥</span><b>5999.99</b></h2>
            <h2>笔记本电脑</h2>
        </div>
    </div>
</div>
<!--footer-->
<div th:replace="/footer.html::footer"></div>
</body>
</html>